@* ReSharper disable RedundantNameQualifier *@
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@* ReSharper restore RedundantNameQualifier *@
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>RFS4Chrome - A chrome extension</title>
</head>
<body>
    This is some page
    <p>Meow</p>
    <img src="http://thecatapi.com/api/images/get?format=src&type=gif">
</body>
</html>
